<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Checkerboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
  <h1>Welcome to the checkerboard!</h1>
  <div class="container" style="width: {{width}}; height: {{height}}">
    {% for y in range(timesY): %}
      {%if y % 2 == 0 %}
        {% for x in range(timesX): %}
          {% if x % 2 == 0%}
          <div class="boxes" style="background-color: {{color1}}"></div>
          {% else %}
          <div class="boxes" style="background-color: {{color2}}"></div>
          {%endif%}
        {%endfor%}
      {%else%}
        {% for x in range(timesX): %}
          {% if x % 2 == 0%}
          <div class="boxes" style="background-color: {{color2}}"></div>
          {% else %}
          <div class="boxes" style="background-color: {{color1}}"></div>
        {%endif%}
        {%endfor%}
      {%endif%}
    {%endfor%}
  </div>
</body>

</html>