<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Checkerboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
  <h1>Welcome to the checkerboard!</h1>
  <div class="container" style="width: {{width}}; height: {{height}}">
    {% for j in range(timesY): %}
      {%if j % 2 == 0 %}
        {% for i in range((timesX/2) | int): %}
        <div class="boxes bg-warning" style="background-color: {{color1}}"></div>
        <div class="boxes bg-dark style=" style="background-color: {{color2}}"></div>
        {%endfor%}
      {%else%}
        {% for i in range((timesX/2) | int): %}
        <div class="boxes bg-dark" style="background-color: {{color2}}"></div>
        <div class="boxes bg-warning" style="background-color: {{color1}}"></div>
        {%endfor%}
      {%endif%}
    {%endfor%}
  </div>
</body>

</html>